* {
    margin: 0;
    padding: 0;
}
.SubmittedDisplay {
    background-image: linear-gradient(to right, rgb(35, 46, 61), rgb(35, 46, 61));
    min-width: 100%;
    min-height: 100%;
    position: absolute;
    background-size: cover;
    background-position: center;
}